@font-face {
  font-family: 'Helvetica';
  src: url('/Helvetica-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Pulse';
  src: url('/Pulse.otf') format('opentype');
}
@font-face {
  font-family: 'Timeline';
  src: url('/Timeline.ttf') format('truetype');
}
@font-face {
  font-family: 'FrontPageNeue';
  src: url('/FrontPageNeue.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* overflow-x: hidden !important; */
  scroll-behavior: smooth !important;
}

body {
  font-family: 'Roboto', sans-serif !important;
  background-color: #fffbff;
}

.helevetica {
  font-family: 'Helvetica', sans-serif !important;
  font-weight: 800 !important;
}

.pulse {
  font-family: 'Pulse', sans-serif !important;
}

.Timeline {
  font-family: 'Timeline', sans-serif !important;
}

.FrontPageNeue {
  font-family: 'FrontPageNeue', sans-serif !important;
}

/* Common */
.right_bottom_radius {
  border-bottom-right-radius: 8rem !important;
}

.heading_drop_shadow {
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}

.heading_no_shadow {
  text-shadow: none !important;
}

/* CustomSlider.module.css */
.slider {
  width: 100%;
  height: 100%;
}

.slideContent {
  display: flex;
}

.imageContainer {
  flex: 1;
}

.textContainer {
  flex: 1;
  padding: 4; /* Adjust padding as needed */
}

.title {
  /* Add your title styles using Tailwind CSS classes */
}

.description {
  /* Add your description styles using Tailwind CSS classes */
}

/* Optional: Styling for navigation buttons */
.navButton::after {
  content: '';
}

/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationBullet {
  width: 20px;
  height: 3px;
  background-color: #000; /* Change the color as needed */
  margin: 0 3px; /* Adjust margin as needed */
}

/* Popup */
.popup_wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_content {
  background-color: #fff;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 35%;
  max-height: 500px;
  overflow-y: auto;
  position: relative;
}

.popup_content_feedback {
  width: 65%;
}
.popup_content_property {
  width: 55%;
}

.popup_bg {
  background-image: url('/images/first_bg_popup.png') !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cross_icon {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  margin-right: 1rem;
  margin-top: 1rem;
  height: 1rem;
  width: 1rem;
}

.margin_top {
  margin-top: 1.4rem;
}

.loader_height_width {
  height: calc(100vh - 200px);
  width: 100%;
}

/* Custom styles for react-month-picker */

/* Active month */
.rmp-btn {
  font-size: 16px !important;
}
.rmp-btn.active {
  background-color: #5d2629 !important;
  color: white;
}

/* Hover month */
.rmp-btn:hover {
  background-color: #ffded7 !important;
  color: slategray !important;
}

@media screen and (max-width: 768px) {
  .popup_content {
    width: 90%;
  }
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

.overflow_custom {
  overflow-x: auto !important;
}
